.my_jumbotron {
    background-image: url(https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cdc4d332eab7ae54a6449ef4918730f5&auto=format&fit=crop&w=1950&q=80);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    overflow: hidden;
}
.my_jumbotron_slogan {
    background: rgba(0,0,0,0.4)
}
.my-jumbotron-text {
    letter-spacing: 0.25rem;
}

.underline::after {
    content: '';
    display: block;
    border: 1px solid #ffc107;
    width: 200px;
    margin: 30px auto;
}

.about-iconbox {
    width: 100px;
    height: 100px;
    border: 1px solid #ffc107;
    border-radius: 50%;
    padding: 0.3rem;
    position: relative;
}

.about-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color: #ffc107;
}

